@import "../../node_modules/bootstrap/scss/bootstrap";

$step1: #282d3c;
$step2: #2f5469;
$step3: #37afc7;
$hover: #f5ba38;
$main-color: #0c2b5e;
$bg-footer: #000000;
$bg-header: #00000099;

a {
  color: #e0a743;
  &:hover {
    color: #e0a743;
  }
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: $bg-header;
}
.site-header a {
  outline: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: $hover;
  text-decoration: none;
  background: transparent;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.logo {
  width: 8rem;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  .logo {
    width: 12rem;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.new-bg {
  background-image: url("../assets/img/bg.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.parallax {
  perspective: 1px!important;
  height: 100vh!important;
  overflow-x: hidden!important;
  overflow-y: auto!important;
}

.parallax__layer {
  position: absolute!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  display: flex;
  align-items: center;
}

.parallax__layer--base {
  transform: translateZ(0)!important;
}

.parallax__layer--back {
  transform: translateZ(-3px) scale(4.05)!important;
  filter: brightness(0.7);
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.font-style-new {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.55;
  color: #fff;
  text-align: center;
}

.my-card {
  border: none;
  border-radius: 0;
  padding: 1rem;
  color: #fff;
  &_step1 {
    background: $step1;
  }
  &_step2 {
    background: $step2;
  }
  &_step3 {
    background: $step3;
  }
}

.list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.list-li {
  padding: 3rem 0 3rem 0;
}

.li-icon {
  margin-right: 0.5rem;
  min-width: 32px;
}

.list-ul {
  display: flex;
  flex-direction: column;
  // align-items: flex-end;
}

.services-ul {
  background: $step1;
  color: #fff;
}

#rc-copyright {
  display: none !important;
}

.contacts {
  padding-top: 3rem;
}

.anchor {
  position: absolute;
  left: 0;
  top: -80px;
}

.count-victory {
  position: absolute;
  display: none;
  right: 5%;
  width: 200px;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
  padding: 15% 0 15% 0;
}

.count-victory-text,
.count-victory-value {
  position: absolute;
  color: #fff;
}

.count-victory-text {
  left: 9%;
  top: 49%;
  font-size: 1.6rem;
}

.count-victory-value {
  left: 33%;
  top: 34%;
  font-size: 4rem;
}

.soc-icon {
  width: 2rem;
  height: 2rem;
  margin: 10px;
  fill: #e0a743;
  &:hover {
    fill: #b27941!important;
  }
}

.my-footer {
  padding: 1rem 3rem !important;
  background: $bg-footer;
  a {
    color: #fff;
    &:hover {
      color: $hover;
      svg {
        fill: $hover;
      }
    }
  }
}

.nav-item-my {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  margin-left: 2rem;
  padding-right: 2rem;
}

.nav-item-my-dropdown {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $hover;
    .my-dropdown {
      display: flex;
    }
  }
}

.my-dropdown {
  display: none;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background: $bg-header;
  &:hover {
    .my-dropdown {
      display: flex;
    }
    a {
      background: transparent;
    }
  }
}

.nav-item-my::after {
  content: "";
  position: absolute;
  right: 0;
  height: 2rem;
  width: 2px;
  background: #fff;
}

.nav-item-my-lite {
  display: flex !important;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  cursor: pointer;
  &:hover {
    .svg-phone {
      fill: $hover;
    }
    .phone {
      color: $hover;
    }
  }
}

.phone {
  padding-top: 15px;
  &::before {
    content: "Звоните круглосуточно";
    font-size: 0.7rem;
    position: absolute;
    top: 29%;
    left: 28%;
  }
}

.svg-phone {
  width: 3rem;
  height: 1.6rem;
  fill: #fff;
  transition: ease-in-out 0.15s;
}

.director {
  width: 100%;
  padding-top: 2rem;
}

.no-phone {
  display: none !important;
}

.no-pc {
  display: flex;
}

.padding-right {
  padding-right: 0rem !important;
}

.bg-paralax {
  background: url('../assets/img/bgnew.jpg') 64% 100% no-repeat;
  background-size: cover;
}

.home-screen {
  display: flex;
  flex-direction: column;
}

.home-screen-form-container {
  bottom: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.simple-form-btn {
  padding: 0.4rem 3rem;
  background: #e0a743;
  border: none;
  box-shadow: none;
  &:hover {
    background: #b27941!important;
    box-shadow: 0 0 0 0.2rem #ffd70040!important;
  }
  &:focus {
    background: #b27941!important;
    border-color: #ffd70040!important;
    box-shadow: 0 0 0 0.2rem #ffd70040!important;
  }
  &:active {
    background: #b27941!important;
    box-shadow: 0 0 0 0.2rem #ffd70040!important;
  }
}

.simple-form-input {
  background: transparent;
  color: #fff;
  &:focus {
    background: transparent;
    border-color: #ffd70040;
    box-shadow: 0 0 0 0.2rem #ffd70040;
  }
}

.success-msg {
  display: none;
  position: fixed;
  top: 6rem;
  right: 1rem;
  background: #83f16f9e;
  padding: 20px;
  z-index: 9999;
}

.error-msg {
  display: none;
  position: fixed;
  top: 6rem;
  right: 1rem;
  background: #f16f6f9e;
  padding: 20px;
  z-index: 9999;
}

.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.small-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .small-text {
    width: auto;
  }

  .nav-item-my {
    display: flex !important;
  }
  .no-phone {
    display: block !important;
  }
  .no-pc {
    display: none;
  }
  .bg-paralax {
    background: url('../assets/img/bgnew.jpg') 84% 50% no-repeat;
  }
  .text-3rem-mobile {
    font-size: 3.5rem !important;
  }
  .padding-right {
    padding-right: 6rem !important;
  }
  .count-victory {
    display: block;
  }
  .nav-item-my-lite {
    margin-left: 2rem;
    padding-right: 2rem;
  }

  .home-screen-form-container {
    position: absolute;
  }

  .success-msg {
    display: none;
    position: fixed;
    top: 6rem;
    right: 2rem;
    background: #83f16f9e;
    padding: 20px;
    z-index: 9999;
  }

  .error-msg {
    display: none;
    position: fixed;
    top: 6rem;
    right: 1rem;
    background: #f16f6f9e;
    padding: 20px;
    z-index: 9999;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.sticky-top {
  position: fixed;
  width: 100%;
}

.text-3rem-mobile {
  font-size: 3rem !important;
}

.dropdown-item {
  color: #fff!important;
  background: transparent!important;
  &:hover {
    color: $hover!important;
    background: transparent!important;
  }
}

.rekvisit {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

footer p {
  margin-bottom: 0.5rem;
}

.social-icons {
  display: flex;
  align-items: center;
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  animation: pulsing 3s infinite;
  &:hover {
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    .info-svg {
      fill: gold;
    }
  }
}

.info-svg {
  enable-background:new 0 0 612 612;
  width:100%;
  height: 100%;
  fill: #fff;
}

.modal-info {
  position: absolute;
  background: #fff;
  z-index: 10;
  width: 100%;
  height: 75%;
  bottom: 4rem;
}

.about {
  padding: 10px;
}

.individuals-block {
  padding-top: 3rem;
}

.bi-check {
  fill: gold;
}

.service-name {
  display: flex;
}

.info-block {
  padding-left: 2rem;
  font-size: 1.1rem;
}

.info-li {
  padding-left: 2rem;
  color: #fff
}

.check-bi {
  width: 17px;
  padding-top: 5px;
  margin-left: 2px;
  stroke:#fff
}

.check-bi-black {
  stroke: #212529;
}

.service-name:hover {
  .check-bi {
    stroke: gold;
  }
  .small-text {
    color: gold;
  }
}

.color-gold {
  color: #e0a743;
}

.color-black {
  color: #212529;
}

.color-step1 {
  color: #e0a743;
}

#service1, #service2, #service3, #service4, #service5 {
  display: none;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0)
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0)
  }
}

.logo--f-small {
  background-color: #e0a743;
}